@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 90vw;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 5%;
}

.subtitle,
.readmore {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: 150%;
  padding: 2%;
}

.hamburger-nav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ed4c5c;
  z-index: 2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger-nav i {
  position: absolute;
  right: 0;
  margin-right: 5%;
  padding: 5% 0 2% 2%;
  font-size: 2em;
  color: #ffff;
}

.hamburger-nav .hamburger-nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  margin-left: 5%;
  padding: 5% 0 2% 2%;
}

.hamburger-nav .hamburger-nav_link a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.hamburger-nav .hamburger-nav_link a:hover {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .hamburger-nav {
    display: none;
  }
}

.hamburger-nav.show {
  top: 0vh;
}

header,
.header-bg {
  width: 100vw;
  height: 100vh;
}

header {
  background-image: url(/img/header.png);
  background-size: cover;
  background-position: center;
  color: #ffff;
}

header .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  padding: 5% 2% 2% 0;
  line-height: 22px;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

header .logo span {
  margin-left: 5%;
}

header .hamburger,
header .nav {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  padding: 5% 0 2% 2%;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 55vw;
  text-align: center;
}

header .nav span {
  padding: 0 2%;
}

header .nav span a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

header .nav span a:hover {
  font-weight: 600;
}

@media (max-width: 1024px) {
  header .nav {
    display: none;
  }
}

header .hamburger {
  font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 1024px) {
  header .hamburger {
    display: none;
  }
}

header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header-text .header_title {
  font-size: calc(32px + (72 - 32) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.05rem;
}

header .header-text .header_subtitle {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 150%;
  width: 90%;
  margin: 2% auto 0 auto;
}

@media (min-width: 640px) {
  header .header-text .header_subtitle {
    width: 65%;
  }
}

header .header-text .btn {
  max-width: 35vw;
  border-radius: 6px;
  padding: 2%;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #ffff;
  margin-top: 5%;
}

header .header-text .btn span {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

@media (min-width: 460px) {
  header .header-text .btn {
    max-width: 20vw;
  }
}

@media (min-width: 800px) {
  header .header-text .btn {
    max-width: 15vw;
  }
}

@media (min-width: 1200px) {
  header .header-text .btn {
    max-width: 10vw;
  }
}

header .header-text .btn span {
  color: #ed4c5c;
}

.header-text > * {
  text-align: center;
  padding: 2%;
}

.header-bg {
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.features-section {
  background-color: #fafafa;
}

.feature-section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature_element {
  margin-top: 2%;
  padding-bottom: 5%;
}

.feature_element .feature-text {
  margin-top: -10%;
  padding: 5%;
  background-color: #ffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  max-width: 70vw;
  text-align: center;
}

.feature_element .feature-text .feature-title {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  line-height: 22px;
  padding: 2%;
}

@media (min-width: 460px) {
  .feature_element .feature-text {
    max-width: 50vw;
  }
}

@media (min-width: 640px) {
  .feature_element .feature-text {
    max-width: 40vw;
  }
}

@media (min-width: 800px) {
  .feature_element .feature-text {
    margin-top: -15%;
    max-width: 30vw;
  }
}

@media (min-width: 1024px) {
  .feature_element .feature-text {
    margin-top: -20%;
    max-width: 20vw;
  }
}

.feature_element > * {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.readmore {
  display: none;
}

.click-more {
  color: #ed4c5c;
  font-weight: 600;
  padding: 2%;
  cursor: pointer;
}

.technology-section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 5%;
}

.tech_element {
  margin-top: 2%;
  padding-bottom: 5%;
}

.tech_element .tech-title {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
}

.tech_element > * {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech_element img:nth-of-type(2) {
  margin-top: -10%;
}

.tech_element p {
  text-align: center;
}

.pink-section {
  position: relative;
  background-color: #ed4c5c;
  color: #ffff;
  padding-bottom: 4%;
}

.pink-section_text > * {
  text-align: center;
}

.pink-section_text .icons {
  margin: 5%;
}

.pink-section_text .icons img {
  margin: 0 2% 0 0;
}

.pink-section_images img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 15px;
  display: none;
}

.pink-section_images img:nth-of-type(1) {
  z-index: 1;
  display: block;
}

@media (min-width: 800px) {
  .pink-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40vw 60vw;
        grid-template-columns: 40vw 60vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .pink-section_text > * {
    text-align: left;
    padding-left: 5%;
    margin-left: 5%;
  }
  .pink-section_images {
    position: relative;
    margin: 5%;
  }
  .pink-section_images img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 5%;
    max-height: 20vw;
    display: block;
  }
  .pink-section_images img:nth-of-type(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-height: 25vw;
    z-index: 1;
    display: block;
  }
  .pink-section_images img:nth-of-type(2) {
    margin-left: -15%;
  }
  .pink-section_images img:nth-of-type(3) {
    margin-left: 15%;
  }
}

@media (min-width: 800px) and (min-width: 1200px) {
  .pink-section_images img {
    max-height: 15vw;
  }
  .pink-section_images img:nth-of-type(1) {
    max-height: 20vw;
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5%;
}

.contact-section_text,
.contact-section_form {
  text-align: center;
}

::-webkit-input-placeholder,
select {
  color: rgba(19, 39, 67, 0.5);
}

:-ms-input-placeholder,
select {
  color: rgba(19, 39, 67, 0.5);
}

::-ms-input-placeholder,
select {
  color: rgba(19, 39, 67, 0.5);
}

::placeholder,
select {
  color: rgba(19, 39, 67, 0.5);
}

input,
select {
  width: 100%;
  padding: 2%;
  margin-top: 2%;
  border-radius: 6px;
  border: 1px solid #333333;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  outline: none;
}

input:focus,
select:focus {
  border-color: #ed4c5c;
}

.contact-section_form-values .btn {
  max-width: 35vw;
  border-radius: 6px;
  padding: 2%;
  text-transform: uppercase;
  position: relative;
  background-color: #ed4c5c;
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
}

.contact-section_form-values .btn span {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

@media (min-width: 460px) {
  .contact-section_form-values .btn {
    max-width: 20vw;
  }
}

@media (min-width: 800px) {
  .contact-section_form-values .btn {
    max-width: 15vw;
  }
}

@media (min-width: 1200px) {
  .contact-section_form-values .btn {
    max-width: 10vw;
  }
}

.contact-section_form-values .btn span {
  color: #ffff;
}

@media (min-width: 640px) {
  .contact-section_form-values .btn {
    margin: 5% 0;
  }
}

@media (min-width: 640px) {
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4% 0;
  }
  .contact-section .contact-section_text {
    padding-right: 5%;
  }
  .contact-section_text,
  .contact-section_form {
    width: 50%;
    text-align: left;
  }
  .contact-section_text > * {
    text-align: left;
    padding-left: 0;
    margin-right: 2%;
  }
  .contact-section_form .contact-section_form-input_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-section_form .contact-section_form-input_name input:nth-of-type(1) {
    margin-right: 4%;
  }
  .contact-section_form .contact-section_form-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */