$coral-color: #ed4c5c;
$black-color: #0000;
$white-color: #ffff;
$margin: 5%;
$padding: 2%;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$xsmall: 460px;
$small: 640px;
$medium: 800px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

@mixin link() {
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  &:hover {
    font-weight: 600;
  }
}
@mixin button() {
  max-width: 35vw;
  border-radius: 6px;
  padding: $padding;
  text-transform: uppercase;
  cursor: pointer;
  & span {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
  @media (min-width: $xsmall) {
    max-width: 20vw;
  }
  @media (min-width: $medium) {
    max-width: 15vw;
  }
  @media (min-width: $xlarge) {
    max-width: 10vw;
  }
}
@mixin relative-x-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
img {
  max-width: 90vw;
}
.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: $margin;
}
.subtitle,
.readmore {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: 150%;
  padding: $padding;
}
// Hamburger-nav
.hamburger-nav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 1) 0%,
    rgba(238, 61, 27, 1) 100%
  );
  z-index: 2;
  transition: 0.2s;
  & i {
    position: absolute;
    right: 0;
    margin-right: $margin;
    padding: $margin 0 $padding $padding;
    font-size: 2em;
    color: $white-color;
  }
  & .hamburger-nav_link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin-left: $margin;
    padding: $margin 0 $padding $padding;
    & a {
      @include link();
    }
  }
  @media (min-width: $large) {
    display: none;
  }
}
.hamburger-nav.show {
  top: 0vh;
}
.overview,
.features,
.technology,
.contact,
.sign_up {
  position: relative;
  left: -100vw;
  transition: 0.4s ease-out;
}
.overview.left,
.features.left,
.technology.left,
.contact.left,
.sign_up.left {
  left: 0;
  animation: opacityAnimation 0.4s ease-out;
}
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// Header
header,
.header-bg {
  width: 100vw;
  height: 100vh;
}
header {
  background-image: url(/img/header.png);
  background-size: cover;
  background-position: center;
  color: $white-color;
  & .logo {
    position: absolute;
    display: flex;
    margin-left: $margin;
    padding: $margin $padding $padding 0;
    line-height: 22px;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    & span {
      margin-left: $margin;
    }
  }
  & .hamburger,
  .nav {
    position: absolute;
    right: 0;
    margin-right: $margin;
    padding: $margin 0 $padding $padding;
  }
  & .nav {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    text-align: center;
    & span {
      padding: 0 $padding;
      & a {
        @include link();
      }
    }
    @media (max-width: $large) {
      display: none;
    }
    @media (min-width: $xxlarge) {
      width: 40vw;
    }
  }
  & .hamburger {
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));
    @media (min-width: $large) {
      display: none;
    }
  }
  & .header-text {
    @include absolute-center;
    & .header_title {
      font-size: calc(32px + (72 - 32) * ((100vw - 300px) / (1600 - 300)));
      letter-spacing: 0.05rem;
    }
    & .header_subtitle {
      font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
      line-height: 150%;
      width: 90%;
      margin: $padding auto 0 auto;
      @media (min-width: $small) {
        width: 65%;
      }
    }
    & .btn {
      @include button();
      margin: 0 auto;
      background-color: $white-color;
      margin-top: $margin;
      & span {
        color: $coral-color;
      }
    }
  }
}

.header-text > * {
  text-align: center;
  padding: $padding;
}

.header-bg {
  position: absolute;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
}

// Features
.features-section {
  background-color: #fafafa;
}

.feature-section_container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.feature_element {
  margin-top: $padding;
  padding-bottom: $margin;
  & .feature-text {
    margin-top: -2 * ($margin);
    padding: $margin;
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    text-align: center;
    & .feature-title {
      font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 600;
      line-height: 22px;
      padding: $padding;
    }
    @media (min-width: $xsmall) {
      max-width: 50vw;
    }
    @media (min-width: $small) {
      max-width: 40vw;
    }
    @media (min-width: $medium) {
      margin-top: -3 * ($margin);
      max-width: 30vw;
    }
    @media (min-width: $large) {
      margin-top: -4 * ($margin);
      max-width: 20vw;
    }
    @media (min-width: $xlarge) {
      max-width: 15vw;
    }
  }
}
.feature_element > * {
  @include relative-x-center;
}
.readmore {
  display: none;
}
.click-more {
  color: $coral-color;
  font-weight: 600;
  padding: $padding;
  cursor: pointer;
}
// Technology

.technology-section_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 $margin;
}
.tech_element {
  margin-top: $padding;
  padding-bottom: $margin;
  & .tech-title {
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
  }
}
.tech_element > * {
  @include relative-x-center;
}
.tech_element-images {
  position: relative;
  top: -3 * $margin;
  & img:nth-of-type(1) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  & img:nth-of-type(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2 * ($margin);
  }
}
.tech_element p {
  text-align: center;
  @media (min-width: $small) {
    max-width: 30vw;
  }
}
// pink section
.pink-section {
  position: relative;
  background-color: $coral-color;
  color: $white-color;
  padding: $margin 0 2 * $margin 0;
}
.pink-section_text > * {
  text-align: center;
}
.pink-section_text .icons {
  margin: $margin;
  & img {
    margin: 0 $padding 0 0;
  }
}
.pink-section_images img {
  @include relative-x-center;
  border-radius: 15px;
  display: none;
  opacity: 0.5;
}
.pink-section_images img:nth-of-type(1) {
  z-index: 1;
  display: block;
  opacity: 1;
}
@media (min-width: $medium) {
  .pink-section {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: auto;
  }
  .pink-section_text > * {
    text-align: left;
    padding-left: $margin;
    margin-left: $margin;
  }
  .pink-section_images {
    position: relative;
    margin: $margin;
    & img {
      @include absolute-center;
      margin-top: $margin;
      max-height: 20vw;
      display: block;
    }
  }
  .pink-section_images img:nth-of-type(1) {
    @include absolute-center;
    max-height: 25vw;
    z-index: 1;
    display: block;
  }
  .pink-section_images img:nth-of-type(2) {
    margin-left: -3 * ($margin);
  }
  .pink-section_images img:nth-of-type(3) {
    margin-left: 3 * $margin;
  }
  @media (min-width: $xlarge) {
    .pink-section_images img {
      max-height: 15vw;
    }
    .pink-section_images img:nth-of-type(1) {
      max-height: 20vw;
    }
  }
}
// Contact
.contact-section {
  display: flex;
  flex-direction: column;
  margin: 0 $margin;
}
.contact-section_text,
.contact-section_form {
  text-align: center;
}

::placeholder,
select {
  color: rgba(19, 39, 67, 0.5);
}
input,
select {
  width: 100%;
  padding: $padding;
  margin-top: $padding;
  border-radius: 6px;
  border: 1px solid #333333;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  outline: none;
  &:focus {
    border-color: $coral-color;
  }
}
.contact-section_form-values .btn {
  @include button();
  position: relative;
  background-color: $coral-color;
  margin: $margin auto;
  text-align: center;
  & span {
    color: $white-color;
  }

  @media (min-width: $small) {
    margin: $margin 0;
  }
}
@media (min-width: $small) {
  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2 * $padding 0;
    & .contact-section_text {
      padding-right: $margin;
    }
  }
  .contact-section_text,
  .contact-section_form {
    width: 50%;
    text-align: left;
  }
  .contact-section_text > * {
    text-align: left;
    padding-left: 0;
    margin-right: $padding;
  }
  .contact-section_form {
    & .contact-section_form-input_name {
      display: flex;
      justify-content: space-around;
      & input:nth-of-type(1) {
        margin-right: 2 * $padding;
      }
    }
    & .contact-section_form-values {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
    }
  }
}
