$pink-color: #d52047;
$orange-color: #ee3d18;
$black-color: #0000;
$white-color: #ffff;
$gray-font-color: #828282;
$margin: 5%;
$padding: 2%;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
img {
  max-width: 90vw;
}
.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: $margin;
}
.subtitle {
  font-size: 12px;
  line-height: 150%;
  padding: $padding;
}
// Header
header,
.header-bg {
  width: 100vw;
  height: 100vh;
}
header {
  background-image: url(/img/header.png);
  background-size: cover;
  color: $white-color;
  & .logo {
    position: absolute;
    margin-left: $margin;
    padding: $margin $padding $padding 0;
    line-height: 22px;
    font-size: 18px;
  }
  & .header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    & .header_title {
      font-size: 2em;
      letter-spacing: 0.05rem;
    }
    & .header_subtitle {
      margin-top: $padding;
      line-height: 150%;
    }
    & .btn {
      margin: 0 auto;
      max-width: 30vw;
      background-color: $white-color;
      border-radius: 6px;
      margin-top: $margin;
      & span {
        color: $pink-color;
        text-align: center;
      }
    }
  }
}
.header-text > * {
  text-align: center;
  padding: $padding;
}

.header-bg {
  position: absolute;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
}

// Features
.features-section {
  background-color: #fafafa;
}
.feature_element {
  margin-top: $margin;
  & .feature-text {
    margin-top: -2 * ($margin);
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    text-align: center;
    & .feature-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      padding: $padding;
    }
  }
}
.feature_element > * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
